<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SOS"></activity>
        <activity android:name=".MyCameraActivity" />
        <activity
            android:name=".CompassActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".LocationActivity" />
        <activity
            android:name=".SensorActivity"
            android:label="Lab3"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".Serveractivity2" />
        <activity android:name=".ProgressActivity" />

        <receiver android:name=".UserChoiceReceiver">
            <intent-filter>
                <action android:name="com.example.rockpaperscissor.BTMSG_INTENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LogIn"
            android:label="@string/app_name">

            <!--
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        !
            -->
        </activity>
        <activity
            android:name=".SingleMultiChoiceActivity"
            android:label="Choose playing mode" />
        <activity
            android:name=".PlayerChoice"
            android:label="Make a choice" />
        <activity
            android:name=".PlayerChoiceDisplay"
            android:label="Choice display" />
        <activity
            android:name=".GameResult"
            android:label="Game Result" />
        <activity
            android:name=".PlayerStatistics"
            android:label="Statistics" />
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Select your friend&apos;s device"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".BluetoothChat"
            android:label="Pick your friend" />
        <activity android:name=".ForthActivity" />
        <activity android:name=".ZeroActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".ServerActivity" />
    </application>

</manifest>